.homepage-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 

} 

.homepage {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    animation: backgroundAnimation 20s infinite ease-in-out; 
    position: relative;
    overflow: hidden;
}

@keyframes backgroundAnimation {
    0% {
        background-image: url('../../public/images/image1.jpg'); 
    }
    25% {
        background-image: url('../../public/images/image2.jpg'); 
    }
    50% {
        background-image: url('../../public/images/image3.jpg'); 
    }
    75% {
        background-image: url('../../public/images/image4.jpg');
    }
    100% {
        background-image: url('../../public/images/image1.jpg'); 
    }
}

.content-homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-homepage {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.left-homepage {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-homepage {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.healthify-logo {
    color: orange;
    font-size: 2rem;
    padding-left: 10px;
}

.homepage-text {
    color: #000000;
    font-size: 2.4rem;
    width: 50%;
    text-align: left; 
    margin: 0;
    font-weight: 900 !important;
}

.auth-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    width: 80%;
    border-top: #ffcccb 4px solid;
    border-bottom: #ffcccb 4px solid;
    border-radius: 20px;
    padding: 20px;
}

.homepage-buttons {
    background-color: #ffcccb; 
    height: 50px;
    width: 150px;
    color: white; 
    font-size: 1.2rem; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.homepage-buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background-color: #ffb6b5;
}