.homepage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-homepage {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.left-homepage {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-homepage {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.healthify-logo {
    color: orange;
    font-size: 2rem;
    padding-left: 10px;
}

.homepage-text {
    color: rgb(43, 42, 41);
    font-size: 2.5rem;
    width: 50%;
    text-align: left; 
    margin: 0;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.homepage-buttons {
    background-color: #ffcccb; 
    height: 50px;
    width: 150px;
    color: white; 
    font-size: 1.2rem; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.homepage-buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background-color: #ffb6b5;
}