.content {
    width: 100%;
    height: 100vh;
}

.restaurant-details-page {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.restaurant-profile {
    margin-top: 100px;
}

.restaurant-header-profile {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcccb;
    margin:0;
    padding: 30px;
    border-radius: 8px 8px 0 0;
}

.restaurant-header h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.restaurant-meta {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #666;
    font-size: 1.2em;
}

.restaurant-info {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.restaurant-info h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.hours {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-right: 3px solid #eee;
    text-align: left;
    width: 40%;
}

.hours-list {
    color: #666;
    line-height: 1.6;
}

.hours-list p {
    margin: 5px 0;
}

.preferences {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8em;
}

.health-goal {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.dietary-restriction {
    background-color: #fff3e0;
    color: #e65100;
}

.menu-section {
    text-align: center;
    width: 60%;
    margin:20px;
}

.menu-button-profile {
    display: inline-block;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-button:hover {
    background-color: rgb(205, 133, 0);
}

.loading {
    text-align: center;
    padding: 20px;
    color: #666;
}

.error {
    color: #d32f2f;
    text-align: center;
    padding: 20px;
    background-color: #ffebee;
    border-radius: 4px;
    margin: 20px 0;
} 

.restaurant-profile-right {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}